.copyright{
    text-decoration: None;  //removes the underline on the HREF text 
}
footer{
    margin-top: 100px;  //i used this to make space between the footer and cards
}

.copyright:hover{  //just hover effect on the CopyRight 
    color: grey;
}