@import "navbar"; //adding file that has all css  commands for navbar
@import "footer"; //adding file that has all css  commands for footer

*{
    font-family: "Papyrus";  //applys one font to all
}

.card{
    box-shadow: 0px 0px 10px black;
}

.card{
    width: 25rem;
}

.cardpic{
    padding: 2%;
}
.add{
    padding: 1%;
}
.spacer{
    width:100%;
    height: 6px;
}
.taskbtn{
    margin-left: 1rem;
}

.deadline:hover{
    color: grey;
}

.pull-right{
    margin-right: 1rem;
}

.fa-ellipsis-v:hover{
    color: red;
}

.fa-bookmark:hover{
    color: red;
}

.fa-exclamation-circle:hover{
    color: grey;
}






//doesnt work because it tries to use css commands but my grid is from bootstrap - WorkInProgress 
@media screen and (max-width: 1400px) {
    .mediacards{
        grid-template-columns: repeat(1, 1fr);
    }
}